@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$fuente_principal: 'Roboto',sans-serif;
$primario: #e8505b;
$secundario: #455a64;
$negro: #000;
$blanco: #ffffff;
$grisClaro: #eceeef;