.footer {
    background-color: $secundario;
    padding-top: 22px;
    color: $blanco;

    h3 {
        font-size: 32px;
    }

    nav {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: $blanco;
            font-size: 20px;
            line-height: 2.4rem;

        }
    }


    p {
        font-size: 20px;
        line-height: 2rem;
        padding-right: 50px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        width: 95%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
    .copyright{
        background-color:$primario;
        text-align:center;
        padding: 20px;
    }
}