.restaurantes__contenedor {
    background-color: $grisClaro;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 80px;
    

    &__titulo {
        text-align: center;
        font-size: 35px;
        color: $secundario;
    }

    &__favoritos {
        display: grid;
    }

    .restaurantes__contenedor__favoritos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 95%;
        max-width: 1200px;
        margin: auto;


        .favoritos__grid {
            display: grid;
            grid-template-columns: 200px 1fr;
           box-shadow: 0px 0px 2.6rem -0.8rem #99a4a9;
           border-radius: 10px;
            grid-gap: 20px;
            width: 95%;
            max-width: 1200px;
            height: 303.48px;
            background-color: $blanco;
            

            &__img {
                 width: 200px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 
            }

            img {
                width: 115px;

            }
            &__contenido{
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 50px;
                
                img{
                    width:200px;
                }
                h3{
                    color: $primario;
                    font-size:24px;
                }
                p{
                    margin-top: -10px;
                    color: $secundario;
                    font-size: 17px;
                }
            }
        }
    }
}