.testimonio__contenedor {
  // width: 95%;
  // max-width: 1200px;
  // margin: 0 auto
  
  &__titulo {
    text-align: center;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

    .testimonio__header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      padding: 30px;
      width: 35%;

      &__img {
        &_imgc {
          width: 100px;
          border-radius: 60px;
        }
      }
      &__nombre {
        p {
          color: $blanco;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .testimonio__texto {
      &__p {
        color: $blanco;
        padding-left: 55px;
        padding-right: 15px;
        font-size: 20px;
      }
    }

    .uno {
      grid-column: 1/4;
      width: 712px;
      background-color: $secundario;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
    }
    .dos {
      grid-column: 4;
      width: 225px;
      background-color: $secundario;
      border-radius: 10px;
    }

    .tres {
      grid-column: 5/6;
      width: 250px;
      grid-row: 1/3;
      background-color: $secundario;
      border-radius: 10px;
      padding: 1px 10px;
    }
    .otro {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      &__imgc {
        width: 60px;
        height: 60px;
      }
    }
    .testimonio__header__nombre {
      &__p {
        font-size: 15px;
      }
    }
    .test_img {
      width: 60px;
    }
    .cuatro {
      grid-column: 1/3;
      // width: 468px;
      background-color: $secundario;
      border-radius: 10px;
    }
    .cinco {
      grid-column: 3/5;
      width: 468px;
      background-color: $secundario;
      border-radius: 10px;
    }
  }
}
