@import "colores";
@import "header";
@import "formulario";
@import "seleccion";
@import "testimonio";
@import "restaurantes";
@import "appComida";
@import "footer";

*,
*::before,
*::after {
  box-sizing: border-box;
  //   padding: 0;
  //   margin: 0;
}
body {
  font-family: $fuente_principal;
}
.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}
